<!DOCTYPE html>
<html>
  <head>
    <title>Clasher</title>
  </head>
  <body>
    <h1>Clasher</h1>
    Show me clash-free days:
    <form action='/free'>
      <input name='start' value='<%= start %>' placeholder='Start Date'>
      <input name='end' value='<%= end %>' placeholder='End Date'>
      <select name='country'>
        <% for (var c = 0; c < allCountries.length; c++){ %>
          <% current_country = allCountries[c] %>
          <option <% if(current_country === country){ %>selected='selected'<% } %>><%= current_country %></option>
        <% } %>
      </select>
      <select name='city'>
        <% for (var c = 0; c < allCities.length; c++){ %>
          <% current_city = allCities[c] %>
          <option <% if(current_city === city){ %>selected='selected'<% } %>><%= current_city %></option>
        <% } %>
      </select>
      <select name='tag'>
        <option></option>
        <% for (var t = 0; t < allTags.length; t++){ %>
          <% current_tag = allTags[t] %>
          <option <% if(current_tag === tag){ %>selected='selected'<% } %>><%= current_tag %></option>
        <% } %>
      </select>
      <input type='submit'>
    </form>
    <% if(days.length > 0){ %>
      <ul>
        <% for (var d = 0; d < days.length; d++){ %>
          <li>
            <%= days[d] %>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <p>No clash-free days between on <%= start %> and <%= end %></p>
    <% } %>
    Events: <%= events %>
    <% if(events.length > 0){ %>
      <ul>
        <% for (var e = 0; e < events.length; e++){ %>
          <li>
            <% event = events[e] %>
            <h2><a href='<%= event.url%>'><%= event.title %></a></h2>
            <%= event.country %> - <%= event.city %>
          </li>
        <% } %>
      </ul>
    <% } %>
  </body>
</html>
