<!DOCTYPE html>
<html>
  <head>
    <title>Clasher</title>
  </head>
  <body>
    <h1>Clasher</h1>
    Are there any events on this date:
    <form action='/'>
    <label for='start'>Date of Event : </label>
      <input id='startDate' type="date"name='start' value='<%= start %>' placeholder='Date'>
      <label for='country'>Country : </label>
      <select name='country' id='countries'>
        <% for (var c = 0; c < allCountries.length; c++){ %>
          <% current_country = allCountries[c] %>
          <option <% if(current_country === country){ %>selected='selected'<% } %>><%= current_country %></option>
        <% } %>
      </select>
      <label for='city'>
      City of Event : 
      </label>
      <select name='city' id='towns'>
        <% for (var c = 0; c < allCities.length; c++){ %>
          <% current_city = allCities[c] %>
          <option <% if(current_city === city){ %>selected='selected'<% } %>><%= current_city %></option>
        <% } %>
      </select>
      <label for='tag'>
      Event Tag : 
      </label>
      <select name='tag' id='tagged'>
        <option></option>
        <% for (var t = 0; t < allTags.length; t++){ %>
          <% current_tag = allTags[t] %>
          <option <% if(current_tag === tag){ %>selected='selected'<% } %>><%= current_tag %></option>
        <% } %>
      </select>
      <input type='submit'>
    </form>
    <% if(events.length > 0){ %>
      <ul>
        <% for (var e = 0; e < events.length; e++){ %>
          <li>
            <% event = events[e] %>
            <h2><a href='<%= event.url%>'><%= event.title %></a></h2>
            <%= event.country %> - <%= event.city %>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <p>No Events on <%= start %></p>
    <% } %>
  </body>
  <footer>

<script type="text/javascript">	
//A script to modify the towns as the country is selected such that it becomes impossible to select a town outside that country.
//Script file for code which is in the index.ejs and free.ejs files.
var id = 'countries';
//id of country dropdown
var towns = 'towns';
//id of towns dropdown
var tags = 'tagged';
//id of tags dropdown
var countryArr =  <%-cityMap%>;
var tagArr =  <%-tagsMap%>;
if (countryArr != null && tagArr != null) {
	if (document.getElementById(towns).value != "") {
		var citSel = document.getElementById(towns).value;
		editor();
		document.getElementById(towns).value = citSel;
		tagEditor();

	} else if (document.getElementById(id).value != "") {
		editor();
	}

	document.getElementById(id).addEventListener("change", function() {
		editor();
	});

	document.getElementById(towns).addEventListener("change", function() {
		tagEditor();
	});

	function tagEditor() {
		var selectedTags = tagArr[document.getElementById(towns).value].sort();
		document.getElementById(tags).innerHTML = ""
		document.getElementById(tags).innerHTML = "<option></option>"

		for (var i in selectedTags) {
			var thing = document.createElement("option");
			thing.textContent = selectedTags[i];
			document.getElementById(tags).appendChild(thing);
		}
	}

	function editor() {
		console.log(document.getElementById(id).value.length);
		if (document.getElementById(id).value.length > 0) {
			var selectedCount = countryArr[document.getElementById(id).value].sort();
			var tagsToPush = new Array();
			document.getElementById(towns).innerHTML = ""
			document.getElementById(towns).innerHTML = "<option></option>"

			for (var i in selectedCount) {
				var thing = document.createElement("option");
				thing.textContent = selectedCount[i];
				document.getElementById(towns).appendChild(thing);
				tagsToPush = arrayUnique(tagsToPush.concat(tagArr[selectedCount[i]]));
			}
			//		console.log(tagsToPush);
			tagsToPush = tagsToPush.sort();
			document.getElementById(tags).innerHTML = "<option></option>"
			for (var i in tagsToPush) {
				var thing = document.createElement("option");
				thing.textContent = tagsToPush[i];
				document.getElementById(tags).appendChild(thing);
			}
		} else {
			console.log("tagging");
			var totalTags = [];
			var totalCounts = [];
			for (var i in tagArr) {
				for (var z in tagArr[i]) {
					if (contains(totalTags, tagArr[i][z]) == false) {
						totalTags.push(tagArr[i][z]);
					}
				}
				totalCounts.push(i);
			}
			totalTags = totalTags.sort();
			totalCounts = totalCounts.sort();
			console.log(totalTags);
			console.log(totalCounts);
			document.getElementById(tags).innerHTML = "<option></option>"
			for (var i in totalTags) {
				var thing = document.createElement("option");
				thing.textContent = totalTags[i];
				document.getElementById(tags).appendChild(thing);
			}
			document.getElementById(towns).innerHTML = "<option></option>"
			for (var i in totalCounts) {
				var thing = document.createElement("option");
				thing.textContent = totalCounts[i];
				document.getElementById(towns).appendChild(thing);
			}
		}
	}

}

function arrayUnique(array) {
	var a = array.concat();
	for (var i = 0; i < a.length; ++i) {
		for (var j = i + 1; j < a.length; ++j) {
			if (a[i] === a[j])
				a.splice(j--, 1);
		}
	}

	return a;
};

function contains(a, obj) {
	for (var i = 0; i < a.length; i++) {
		if (a[i] == obj) {
			return true;
		}
	}
	return false;
}


</script>

  </footer>
</html>
